body {
    font-family: "Tahoma", sans-serif;
    font-weight: 400;
    font-size: 15px;
    background: #ffffff;
    color: #000000;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.header {
    width: 100%;
    color: #ffffff;
    background-color: #3f7594;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 165px;
}
.header__logo {
    width: auto;
    height: auto;
    margin: 0;
    line-height: 70px;
    border: 3px solid #ffffff;
    font-size: 53.4px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.header__name {
    width: 320px;
    margin-left: 36px;
    margin-right: auto;
    margin-top: 17px;
    margin-bottom: 17px;
    font-size: 35px;
    font-weight: normal;
}
.header-container-right {
    text-align: right;
    margin: 0;
}
.header__phone {
    margin-top: 11px;
    margin-bottom: 20px;
    font-size: 25.5px;
}
.main-menu__list {
    display: flex;
    justify-content: space-between;
    width: 540px;
    margin-bottom: 23px;
    position: relative;
    list-style: none;
    font-size: 20px;
    text-transform: uppercase;
}
.main-menu__item {
    position: relative;
}
.main-menu__link {
    color: #ffffff;
    text-decoration: none;
}
.main-menu__link::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    margin-top: 8px;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
}
.main-menu__link_active::after,
.main-menu__link:hover::after {
    transform: scale(1);
}
.main {
    overflow: hidden;
}
.main-inner {
    margin: 0 165px;
}
.breadcrumbs__list {
    display: flex;
    padding-left: 0;
    padding-top: 10px;
    list-style: none;
    font-size: 15px;
}
.breadcrumbs__link {
    color: #000000;
}
.main-content {
    display: flex;
}
.gallery {
    display: flex;
    margin-right: 30px;
}
.gallery__card {
    position: relative;
    width: 608px;
    height: 407px;
    margin-left: 0;
    margin-right: 20px;
    margin-top: 5px;
}
.gallery__definition {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 28px;
    padding-right: 68px;
    padding-bottom: 25px;
}
.gallery__title {
    font-size: 25px;
    font-weight: normal;
    color: #ffffff;
    margin: 0;
}
.gallery__text {
    color: #ffffff;
    margin: 0;
    margin-top: 7px;
}
.gallery__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5px;
}
.gallery__item {
    cursor: pointer;
    width: 127px;
    height: 84px;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
}
.gallery__item:hover,
.gallery__item:focus {
    opacity: 0.7;
}
.description__title {
    padding-top: 8px;
    padding-left: 21px;
    padding-bottom: 8px;
    padding-right: 21px;
    margin-top: 5px;
    margin-bottom: 35px;
    font-size: 25px;
    font-weight: normal;
    background-color: #dadada;
    box-sizing: border-box;
}
.description__text {
    padding-right: 10px;
}
.order {
    position: relative;
    margin-top: 34px;
    background-color: #dadada;
}
.order__question {
    position: relative;
    width: 100%;
    margin: 0;
    padding-top: 17px;
    text-align: center;
    font-size: 35px;
    z-index: 1;
}
.order__oblique-background {
    position: absolute;
    width: 4000px;
    height: 500px;
    background-color: #808d9d;
    transform: rotate(10deg) translate(-50px, 265px);
    transform-origin: 50%;
    z-index: 0;
}
.order-inner {
    position: relative;
    display: flex;
    justify-content: center;
    color: #ffffff;
    z-index: 1;
}
.order__card {
    width: 317px;
    height: 308px;
    margin-bottom: 25px;
    margin-left: 165px;
    margin-right: 17px;
    background-color: #3f7594;
}
.order__photo {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 17px;
    margin-right: 10px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
}
.order__photo_text {
    margin-left: 20px;
    font-size: 16px;
    line-height: 22px;
}
.order__contacts {
    margin-right: 165px;
    margin-top: 64px;
}
.order__name {
    font-size: 32.73px;
    font-weight: normal;
}
.order__table {
    height: 70px;
    margin-top: 4px;
    margin-bottom: 3px;
    font-size: 20.38px;
}
.order__table_first-column {
    width: 100px;
    font-size: 18.97px;
}
.order__email {
    color: #ffffff;
    text-decoration: none;
}
.order__sepatator {
    width: 100%;
    height: 1px;
    background-color: #ffffff;
}
.order__explanation {
    margin-top: 12px;
    font-size: 16px;
}
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #181c23;
    color: #ffffff;
    font-size: 13px;
    margin: 0;
    padding-top: 18px;
    padding-bottom: 12px;
}
.footer__table {
    width: 215px;
    padding-left: 165px;
}
.footer__table_row {
    vertical-align: top;
}
.footer__table_first-column {
    width: 48px;
}
.footer__email {
    color: #ffffff;
    text-decoration: none;
}
.footer__logo {
    width: auto;
    height: 51px;
    margin: 0;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    border: 3px solid #ffffff;
    font-size: 40.92px;
    text-transform: uppercase;
}
.footer-container-right {
    padding-right: 165px;
    text-align: right;
    margin: 0;
}
.footer__timetable {
    margin-top: 0;
    margin-bottom: 20px;
}
.footer__copyright {
    margin: 0;
}