body {
    font-family: "Tahoma", sans-serif;
    font-weight: 400;
    font-size: 15px;
    background: #ffffff;
    color: #000000;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.header {
    width: 100%;
    color: #ffffff;
    background-color: #3f7594;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 165px;
}
.header-container-left {
    display: flex;
    align-items: center;
}
.header__logo {
    width: auto;
    height: auto;
    margin: 0;
    line-height: 70px;
    border: 3px solid #ffffff;
    font-size: 53.4px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.header__name {
    margin-left: 36px;
    margin-right: auto;
    margin-top: 17px;
    margin-bottom: 17px;
    font-size: 35px;
    font-weight: normal;
}
.header-container-right {
    text-align: right;
    margin: 0;
}
.header__phone {
    margin-top: 11px;
    margin-bottom: 20px;
    font-size: 25.5px;
}
.header__phone_button {
    display: none;
}
.main-menu__showmenu {
    transform: rotate(90deg) translateY(-15px);
}
.main-menu__check,
.main-menu__showmenu,
.main-menu__back {
    display: none;
}
.main-menu__list {
    display: flex;
    justify-content: space-between;
    width: 540px;
    margin-bottom: 23px;
    position: relative;
    list-style: none;
    font-size: 20px;
    text-transform: uppercase;
}
.main-menu__item {
    position: relative;
}
.main-menu__link {
    color: #ffffff;
    text-decoration: none;
}
.main-menu__link::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 8px;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
}
.main-menu__link_active::after,
.main-menu__link:hover::after {
    transform: scale(1);
}
.main {
    overflow: hidden;
}
.main-inner {
    margin: 0 165px;
}
.breadcrumbs__list {
    padding-left: 0;
    padding-top: 10px;
    list-style: none;
    font-size: 15px;
    margin-bottom: 20px;
}
.breadcrumbs__item {
    display: inline;
}
.breadcrumbs__link {
    color: #000000;
}
.main-content {
    display: flex;
    align-items: flex-start;
}
.gallery {
    display: flex;
    margin-right: 30px;
}
.gallery__card {
    position: relative;
    display: inline-flex;
    width: auto;
    height: auto;
    margin-left: 0;
    margin-right: 20px;
    margin-top: 0;
    overflow: hidden;
}
.gallery__image {
    height: inherit;
}
.gallery__definition {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    padding-left: 28px;
    padding-right: 68px;
    padding-bottom: 25px;
    background: rgba(0, 0, 0, 0.65);
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.65);
    box-sizing: border-box;
}
.gallery__title {
    font-size: 25px;
    font-weight: normal;
    color: #ffffff;
    margin: 0;
}
.gallery__text {
    color: #ffffff;
    margin: 0;
    margin-top: 7px;
}
.gallery__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
}
.gallery__item {
    cursor: pointer;
    height: 84px;
    padding: 0;
    border: 0;
    outline: none;
}
.gallery__item:hover,
.gallery__item:focus {
    opacity: 0.7;
}
.description__title {
    padding-top: 8px;
    padding-left: 21px;
    padding-bottom: 8px;
    padding-right: 21px;
    margin-top: 0px;
    margin-bottom: 35px;
    font-size: 25px;
    font-weight: normal;
    background-color: #dadada;
    box-sizing: border-box;
}
.description__text {
    padding-right: 10px;
}
.order {
    position: relative;
    margin-top: 34px;
    background-color: #dadada;
}
.order__question {
    position: relative;
    width: auto;
    text-align: center;
    padding-top: 17px;
    font-size: 35px;
    z-index: 1;
}
.order__oblique-background {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 138px;
    height: auto;
    background: #808d9d;
}
.order__oblique-background::before {
    display: block;
    position: absolute;
    bottom: 100%;
    left: 0;
    content: "";
    width: 100%;
    height: 312px;
    background-image: linear-gradient(to top right, #808d9d 50%, transparent 50%);
    z-index: 0;
}
.order-inner {
    position: relative;
    display: flex;
    margin: 0 165px;
    color: #ffffff;
}
.order__card {
    width: 317px;
    height: auto;
    margin-bottom: 25px;
    margin-top: auto;
    margin-left: 0;
    margin-right: 17px;
    padding-bottom: 20px;
    background-color: #3f7594;
    z-index: 1;
}
.order__photo {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 17px;
    margin-right: 10px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
}
.order__photo_text {
    margin-left: 20px;
    font-size: 16px;
    line-height: 22px;
}
.order__contacts {
    margin-top: 64px;
}
.order__name {
    font-size: 32.73px;
    font-weight: normal;
}
.order__table {
    height: 70px;
    margin-top: 4px;
    margin-bottom: 3px;
    font-size: 20.38px;
}
.order__table_first-column {
    width: 100px;
    font-size: 18.97px;
}
.order__email {
    color: #ffffff;
    text-decoration: none;
}
.order__sepatator {
    max-width: 1200px;
    height: 1px;
    background-color: #ffffff;
}
.order__explanation {
    max-width: 1200px;
    margin-top: 12px;
    font-size: 16px;
}
.footer {
    background-color: #181c23;
    color: #ffffff;
    font-size: 13px;
}
.footer-inner {
    display: flex;
    justify-content: space-between;
    margin: 0 165px;
    padding-top: 18px;
    padding-bottom: 12px;
    /**/
}
.footer__table {
    width: auto;
    margin-bottom: auto;
    box-sizing: content-box;
}
.footer__table_row {
    vertical-align: top;
}
.footer__table_first-column {
    width: 48px;
}
.footer__email {
    color: #ffffff;
    text-decoration: none;
}
.footer__logo {
    width: auto;
    height: 50px;
    margin: 0;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    border: 3px solid #ffffff;
    font-size: 40.92px;
    text-transform: uppercase;
}
.footer-container-right {
    text-align: right;
    margin: 0;
}
.footer__timetable {
    margin-top: 0;
    margin-bottom: 20px;
}
.footer__copyright {
    margin: 0;
}
@media screen and (min-width: 1904px) {
    .breadcrumbs__list,
    .gallery__text,
    .description__text,
    .order__photo_text,
    .order__explanation {
        font-size: 17px;
    }
    .gallery__title,
    .description__title {
        font-size: 27px;
    }
    .footer {
        font-size: 15px;
    }
    .header-inner,
    .main-inner,
    .footer-inner,
    .order__question,
    .order-inner {
        width: 1574px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media screen and (max-width: 1483px) {
    .header__logo {
        font-size: 40px;
        line-height: 48px;
    }
    .header__name {
        margin-left: 15px;
        font-size: 25px;
    }
    .header__phone {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .main-menu__list {
        margin-bottom: 9px;
        margin-top: 7px;
        width: 450px;
        font-size: 16px;
    }
    .gallery {
        flex-direction: column;
    }
    .gallery__card {
        margin-right: 0;
    }
    .gallery__list {
        flex-direction: row;
    }
}
@media screen and (max-width: 1280px) {
    .header-inner {
        width: 935px;
        margin: 0 auto;
    }
    .main-inner {
        width: 935px;
        margin: 0 auto;
    }
    .main-content {
        width: auto;
        flex-direction: column;
        margin: 0 auto;
    }
    .gallery {
        flex-direction: row;
        margin: 0 auto;
    }
    .gallery__card {
        margin-right: 20px;
    }
    .gallery__list {
        flex-direction: column;
    }
    .description {
        margin-top: 30px;
    }
    .order-inner {
        width: 935px;
        margin: 0 auto;
    }
    .footer-inner {
        width: 935px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1000px) {
    .header-inner {
        width: auto;
        margin: 0 20px;
    }
    .header-container-right {
        display: flex;
        align-items: center;
    }
    .header__phone {
        margin-top: auto;
        margin-bottom: auto;
    }
    /* бургер начало */
    .main-menu__showmenu,
    .main-menu__back {
        cursor: pointer;
        color: #ffffff;
    }
    .main-menu__showmenu {
        position: relative;
        z-index: 3;
        display: inline-block;
        margin-left: 0px;
        margin-bottom: 17px;
        margin-top: 17px;
        padding-top: 0;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 27px;
        color: #ffffff;
    }
    .main-menu__back {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        color: #ffffff;
    }
    .main-menu__list {
        color: #ffffff;
        overflow: hidden;
    }
    .main-menu__list {
        position: absolute;
        display: block;
        top: -400px;
        right: 0;
        width: 80%;
        margin: 0;
        padding: 0;
        line-height: 2em;
        background-color: #181c23;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: -webkit-transform .3s;
        transition: -webkit-transform .3s;
        -o-transition: transform .3s;
        transition: transform .3s;
        transition: transform .3s, -webkit-transform .3s;
        will-change: transform;
        z-index: 1;
    }
    .main-menu__item {
        margin: 0 auto;
        padding: 20px;
        padding-right: 50px;
        text-decoration: none;
        color: #ffffff;
        cursor: pointer;
    }
    .main-menu__link::after {
        display: none;
    }
    .main-menu__link_active .main-menu__item {
        background-color: #ffffff;
        color: #181c23;
    }
    .main-menu__item:hover {
        background-color: #dadada;
        color: #000000;
        font-size: 30px;
    }
    .main-menu__link {
        color: inherit;
    }
    .main-menu::-webkit-scrollbar {
        display: none;
    }
    .main-menu__check:checked ~ .main-menu__list {
        -webkit-transform: translateY(135%);
        -ms-transform: translateY(135%);
        transform: translateY(135%);
    }
    /* бургер конец */
    .main-inner {
        width: auto;
        margin: 0 20px;
    }
    .order__question {
        font-size: 30px;
        margin: 0;
    }
    .order__oblique-background::before {
        height: 250px;
    }
    .order-inner {
        width: auto;
        margin: 0 20px;
    }
    .order__photo_text,
    .order__explanation {
        font-size: 14px;
    }
    .order__photo {
        width: 200px;
        height: auto;
    }
    .order__name {
        font-size: 26px;
    }
    .footer-inner {
        width: auto;
        margin: 0 20px;
    }
}
@media screen and (max-width: 830px) {
    .header-inner {
        width: 607px;
        margin: 0 auto;
    }
    .main-inner {
        width: 607px;
        margin: 0 auto;
    }
    .gallery {
        flex-direction: column;
    }
    .gallery__card {
        margin-right: 0;
    }
    .gallery__list {
        flex-direction: row;
    }
    .order__question {
        padding-bottom: 20px;
    }
    .order__oblique-background {
        height: 250px
    }
    .order__oblique-background::before {
        height: 400px;
    }
    .order__card {
        margin: 0;
    }
    .order__contacts {
        margin-top: 0;
    }
    .order__name {
        text-align: center;
        margin: 20px auto;
    }
    .order__table {
        margin-right: auto;
        margin-left: auto;
    }
    .order-inner {
        flex-direction: column;
        align-items: center;
        width: 607px;
        margin: 0 auto;
    }
    .order__photo {
        width: 296px;
    }
    .order__photo_text {
        font-size: 16px;
    }
    .footer-inner {
        width: 607px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 680px) {
    .header-inner {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
    .header__name {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 20px;
    }
    .header__logo {
        font-size: 35px;
        line-height: 40px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .header__phone {
        font-size: 20px;
    }
    .main-inner {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
    .gallery__title {
        font-size: 18px;
    }
    .gallery__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .gallery__text {
        font-size: 14px
    }
    .order-inner {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
    .footer {
        font-size: 10px;
    }
    .footer-inner {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
    .footer__table {
        width: auto;
    }
    .footer__logo {
        margin: auto 20px;
    }
}
@media screen and (max-width: 575px) {
    .header {
        position: fixed;
        box-shadow: none;
        z-index: 2;
    }
    .header__logo {
        font-size: 25px;
        line-height: 28px;
    }
    .header__name {
        font-size: 16px;
        padding-right: 10px;
    }
    .header-container-right {
        position: relative;
    }
    .header__phone {
        display: none;
        width: 140px;
        height: auto;
        padding: 10px;
        position: absolute;
        top: 65px;
        left: -155px;
        background-color: #181c23;
	    z-index: 2;
    }
    .header__phone_abled {
        display: block;
    }
    .header__phone_button {
        display: block;
        background-color: #3f7594;
        border: none;
        margin-top: 3px;
        cursor: pointer;
    }

	   .main-menu__list {
	width: 300px;
	}
    .main {
        padding-top: 65px;
    }
    .gallery__definition {
        padding: 10px;
    }
    .gallery__title {
        font-size: 14px;
    }
    .gallery__text {
        font-size: 12px;
    }
    .gallery__item {
        height: auto;
        background-color: #ffffff;
    }
    .gallery__item:not(:last-child) {
        margin-right: 5px;
    }
    .gallery__image_small {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .footer-inner {
        flex-wrap: wrap;
        justify-content: space-between;
        flex-grow: 1;
    }
    .footer__logo {
        margin: 0;
    }
    .footer-container-right {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 20px;
    }
    .footer__timetable {
        text-align: left;
        padding-right: 20px;
    }
}